﻿@model API_Library_2._0.GetParentStudentDirectory_Result

<script src="~/Scripts/jquery.blockUI.js" type="text/javascript"></script>
<link rel="Stylesheet" href="~/Content/themes/redmond/jquery-ui.css" />

@{
    ViewBag.Title = "Student & Parent Directory Details";
}

<h3>@ViewBag.Title</h3>
<style>
    .detail { font-size: 16px; margin-left: 10px; }
</style>


<p>
    @Html.ActionLink("Back to List", "Index",
        new RouteValueDictionary {
                                    { "grid-page", @ViewBag.gridPage },
                                    { "grid-filter", @ViewBag.gridFilter },
                                    { "grid-column", @ViewBag.gridColumn },
                                    { "grid-dir", @ViewBag.gridDir },
                                    { "SearchString", @ViewBag.SearchString }
                                 })
</p>

<div style="margin: 3em 5em;">
    <div style="display: inline-block;">
        <div style="font-weight: bold; font-size: 16px; float: left;">@Html.DisplayFor(model => model.LastName), @Html.DisplayFor(model => model.FirstName)</div>&nbsp;&nbsp;&nbsp;
            <div style="display: inline-block;">(@Html.DisplayFor(model => model.GradeLevel))</div>
    </div><br /><br />
    <div class="detail">email: @Html.DisplayFor(model => model.StudentEmail)</div>
    @{
        if (Model.Siblings != "")
        {
            <div class="detail">siblings: @Html.DisplayFor(model => model.Siblings)</div>
        }
    }
    <br/>
    <div class="detail">@Html.DisplayFor(model => model.Parents1)</div>
    <div class="detail">@Html.DisplayFor(model => model.AddressBlock1)</div>
    <div class="detail">@Html.DisplayFor(model => model.CityStatePostBlock1)</div>
    <div class="detail">@Html.DisplayFor(model => model.HomePhone1)</div>
    @{
        if (Model.Parents2 != "")
        {
            <br/>
            <div class="detail">@Html.DisplayFor(model => model.Parents2)</div>
            <div class="detail">@Html.DisplayFor(model => model.AddressBlock2)</div>
            <div class="detail">@Html.DisplayFor(model => model.CityStatePostBlock2)</div>
            <div class="detail">@Html.DisplayFor(model => model.HomePhone2)</div>
        }
    }


</div>
<div class="row">

    <div class="col-md-5">

        <dl class="dl-horizontal">

            <dt>
                Last Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                First Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                Email:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudentEmail)
            </dd>

            <dt>
                Grade Level:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GradeLevel)
            </dd>

            <dt>
                Siblings:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Siblings)
            </dd>
        </dl>
    </div>
</div>




<div class="row">

    <div class="col-md-5">

        <dl class="dl-horizontal">

            <dt>
                Parents:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Parents1)
            </dd>

            <dt>
                Address:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressBlock1)
            </dd>

            <dt>
                
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CityStatePostBlock1)
            </dd>

            <dt>
                Phone:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HomePhone1)
            </dd>



        </dl>
    </div>
</div>


@{ if (@Model.Parents2 != "")
                         {
<div class="row">

    <div class="col-md-5">

        <dl class="dl-horizontal">

            <dt>
                Parents:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Parents2)
            </dd>

            <dt>
                Address:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressBlock2)
            </dd>

            <dt>

            </dt>

            <dd>
                @Html.DisplayFor(model => model.CityStatePostBlock2)
            </dd>

            <dt>
                Phone:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HomePhone2)
            </dd>



        </dl>
    </div>
</div>
}
}

<p>
    @Html.ActionLink("Back to List", "Index",
        new RouteValueDictionary {
                                    { "grid-page", @ViewBag.gridPage },
                                    { "grid-filter", @ViewBag.gridFilter },
                                    { "grid-column", @ViewBag.gridColumn },
                                    { "grid-dir", @ViewBag.gridDir },
                                    { "SearchString", @ViewBag.SearchString }
                                 })
</p>