﻿

.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

    .navbar-inner:before,
    .navbar-inner:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .navbar-inner:after {
        clear: both;
    }


.navbar-static-top .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}



.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    border-width: 0 0 1px;
}

.navbar-fixed-bottom .navbar-inner {
    border-width: 1px 0 0;
}

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
    padding-right: 0;
    padding-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}



.navbar-fixed-bottom .navbar-inner {
    -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-inner {
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

/*img {
    max-width: 50px;
    max-height: 46px;
}

.picture-thumbnail {
    height: 46px;
    width: 50px;
}*/

#wrapper {
    width: 700px;
    clear: both;
}

#sectionheader {
    width: 75px;
    float: left;
}

#sectioninfo {
    width: 400px;
    float: left;
}

#sectioncalendar {
    width: 300px;
    float: left;
}

input[type=submit] {
    /*width: 100px;*/
    /*height: 27px;*/
    background-color: #2e7cBE;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #023d5a;
}

    input[type=submit]:hover {
        /*width: 100px;*/
        /*height: 27px;*/
        background-color: #2e7cBE;
        padding: 5px 10px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid #023d5a;
    }

#comments {
    width: 500px;
}


/*input[type=submit] {
  margin: 0;
  cursor: pointer;
  background: 0;
  font-size: 14px;
  outline: 0;
  padding: 5px 10px;
  font-weight: bold;
  white-space: nowrap;
  border: 0;
  color: #fff;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: top;
  overflow: visible;
  height: 27px;
}*/


body textarea, select {
    color: #333;
    border: 1px solid #c7c7c7;
    font: 13px "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
    padding: 5px;
    height: 32px;
}

body select {
    overflow: hidden;
    height: 28px;
    padding: 4px;
}

.blockScheduleColorRed {
    color: white;
    background-color: Red;
}

.blockScheduleColorOrange {
    color: white;
    background-color: orange;
}

.blockScheduleColorYellow {
    color: black;
    background-color: yellow;
}


.blockScheduleColorGreen {
    color: white;
    background-color: green;
}


.blockScheduleColorColumbia {
    color: white;
    background-color: royalblue;
}

.blockScheduleColorNavy {
    color: white;
    background-color: navy;
}

.blockScheduleColorGray {
    color: white;
    background-color: darkgray;
}

.blockScheduleColorPurple {
    color: white;
    background-color: purple;
}

input[type=checkbox] {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.helperLabelSectionCode {
    font-size: 12px;
}

.helperLabelBlockColor {
    font-size: 12px;
}

#initiallyHiddenBlockBody {
    display: none;
}

#initiallyHiddenBlockMenu {
    display: none;
}


