﻿@model API_Library_2._0.GetParentStudentDirectory_Result

<script src="~/Scripts/jquery.blockUI.js" type="text/javascript"></script>
<link rel="Stylesheet" href="~/Content/themes/redmond/jquery-ui.css" />

@{
    ViewBag.Title = "Student & Parent Directory Details";
}

<h3>@ViewBag.Title</h3>

<p>
    @Html.ActionLink("Back to List", "Index",
        new RouteValueDictionary {
                                    { "grid-page", @ViewBag.gridPage },
                                    { "grid-filter", @ViewBag.gridFilter },
                                    { "grid-column", @ViewBag.gridColumn },
                                    { "grid-dir", @ViewBag.gridDir },
                                    { "SearchString", @ViewBag.SearchString }
                                 })
</p>


<div class="row">

    <div class="col-md-5">

        <dl class="dl-horizontal">

            <dt>
                Last Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                First Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                Email:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudentEmail)
            </dd>

            <dt>
                Grade Level:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GradeLevel)
            </dd>

            <dt>
                Siblings:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Siblings)
            </dd>
        </dl>
    </div>
</div>




<div class="row">

    <div class="col-md-5">

        <dl class="dl-horizontal">

            <dt>
                Parents:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Parents1)
            </dd>

            <dt>
                Address:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressBlock1)
            </dd>

            <dt>
                
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CityStatePostBlock1)
            </dd>

            <dt>
                Phone:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HomePhone1)
            </dd>



        </dl>
    </div>
</div>


@{ if (@Model.Parents2 != "")
                         {
<div class="row">

    <div class="col-md-5">

        <dl class="dl-horizontal">

            <dt>
                Parents:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Parents2)
            </dd>

            <dt>
                Address:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressBlock2)
            </dd>

            <dt>

            </dt>

            <dd>
                @Html.DisplayFor(model => model.CityStatePostBlock2)
            </dd>

            <dt>
                Phone:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HomePhone2)
            </dd>



        </dl>
    </div>
</div>
}
}

<p>
    @Html.ActionLink("Back to List", "Index",
        new RouteValueDictionary {
                                    { "grid-page", @ViewBag.gridPage },
                                    { "grid-filter", @ViewBag.gridFilter },
                                    { "grid-column", @ViewBag.gridColumn },
                                    { "grid-dir", @ViewBag.gridDir },
                                    { "SearchString", @ViewBag.SearchString }
                                 })
</p>