﻿@model List<Schoology.Api.Entities.Models.GetGroups_Result>
@using GridMvc.Html
@using GridMvc.Sorting

@{
    ViewBag.Title = "Group Directory";
}

<h3>@ViewBag.Title</h3>
@{
    var t = Model;
}
    <div>Choose a group to view</div>
<div>
    @using (Html.BeginForm("Index", "Group", FormMethod.Post))
    {
        @Html.DropDownList("DDlgroups", new SelectList(Model, "groupid", "groupname"), new { id = "grouplist" })
    }


</div>

<!--
<div>
        Search text: @Html.TextBox("SearchString", ViewBag.SearchString as string)
        <input id="Search" type="submit" value="Search" />
        <input id="Clear" type="submit" value="Clear" />
    </div>

-->
<div style="height: 400px; padding-top: 3em;">@ViewBag.Message<br/><br/>@ViewBag.NumberOfRecords<br/><br/><br/><hr /></div>

<script>

    $('#grouplist').on('change', function (event) {
        var form = $(event.target).parents('form');

        form.submit();
    });

    $(function () {

        // Clear the search grid
        $("#Clear").on("click", function (event) {
            $("#SearchString").val("");
        });

        // Grid row select event code
        //pageGrids.studentGrid.onRowSelect(function (e) {
        //    alert(e.row.uid);
        //});

    });

</script>

@*

    @Html.Grid(Model).Named("studentGrid").Columns(columns => {  /* Adding "OrderID" column: */ columns.Add(model => model.LastName) .Titled("Last Name") .Filterable(true) .Sortable(true) .SortInitialDirection(GridSortDirection.Ascending) .SetWidth(150);  columns.Add(model => model.FirstName) .Titled("First Name") .Filterable(true) .Sortable(true) .SetWidth(100);  columns.Add(model => model.GradeLevel) .Titled("Grade Level") .Filterable(true) .Sortable(true) .SetWidth(100);  columns.Add(model => model.StudentEmail) .Titled("Email") .Filterable(false) .Sortable(false) .SetWidth(150);  columns.Add() .Encoded(false) .Sanitized(false) .SetWidth(20) .RenderValueAs(d => @<b>
                @Html.ActionLink("Details", "Details", new { id = d.StudentID })

            </b>);

        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(500)
            .RenderValueAs(d =>
                @<b>

                </b>);


    }).WithPaging(10).Selectable(false)  *@